body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #89179e;

  .loader {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(60deg);

    span {
      position: absolute;
      display: block;
      border: 2px solid #fff;
      box-sizing: border-box;
      border-radius: 50%;
      transform: translateZ(-100px);
      animation: animate 3s ease-in-out infinite;
    }

    @keyframes animate {
      0%,
      100% {
        transform: translateZ(-100px);
      }
      50% {
        transform: translateZ(100px);
      }
    }
  }

  @for $i from 0 through 15 {
    .loader span:nth-child(#{$i + 1}) {
      top: $i * 10px;
      left: $i * 10px;
      right: $i * 10px;
      bottom: $i * 10px;
      animation-delay: $i * .1s;
      // animation-delay: 1.4s - $i * .1s;
    }
  }
}
